# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.db

# Virtual Environment
venv/
ENV/
.env

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Migrations
**/migrations/*.pyc
**/migrations/*.pyo
**/migrations/__pycache__/
**/migrations/*.log

# Static and media files
static/
media/

# Others
*.swp
*.swo
.idea/
